:root {
  --white-color: #fff;
  --black-color: #000;
  --red-color: #b10000;
  --gold-color: #ffd900;

  --light-bg-color: #cecece;
  --dark-bg-color: #858585;

  --main-padding: 10px;
}

body {
  display: grid;
  grid-template-areas:
    'head head'
    'side  main'
    'side  foot';
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 250px 1fr;
}

/* Header */
body > .header {
  grid-area: head;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 var(--main-padding);
  align-items: center;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 1px 5px 1px var(--black-color);
}

.header .header__logo {
  cursor: pointer;
}

.header .header__logo img {
  width: 170px;
  height: auto;
}

.header__search.search {
  padding: 2px;
  width: 33%;
}

.search .search__input {
  width: 89%;
  height: 20px;
  padding-right: 30px;
  padding-left: 5px;
  border: 1px solid var(--light-bg-color);
  border-radius: 5px;
}

.search .search__input:focus {
  border-radius: 5px;
  outline: 1px solid var(--dark-bg-color);
}

.search .search__btn {
  background-color: var(--light-bg-color);
  margin-left: -30px;
  height: 20px;
  width: 30px;
  border-radius: 0 5px 5px 0;
}

.search .search__microphone {
  color: var(--dark-bg-color);
  margin-left: 5px;
}

.search .search__microphone:hover {
  color: var(--light-bg-color);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.menu p {
  padding: 0 15px;
  color: #949494;
}

.menu p:last-child {
  color: #000;
}

.menu-items {
  display: none;
  width: 200px;
  box-shadow: 1px 1px 1px #3d3b3b;
  border: 1px solid #cecece;
  position: absolute;
  font-size: 1.2rem;
  top: 33px;
  right: 5px;
  background: #fff;
  color: #3d3b3b;
}

.log-out p {
  color: #c50d0d !important;
}

.menu .menu__header:hover {
  color: #cecece;
}

.menu .menu__header > i {
  background: gold;
  border-radius: 50%;
  padding: 2px;
  font-size: 18px;
}

.menu .menu__header:hover .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu .menu__item > p {
  justify-self: center;
  padding: 19px;
}

.menu .menu-icon {
  margin-right: 10px;
}

.menu .menu__item:hover {
  background-color: #cecece;
}

.menu .divider {
  border: 1px solid black;
}

/* Side Bar */
body > .side-bar {
  grid-area: side;
  display: flex;
  justify-content: space-between;
  /* padding: 10px; !important */
  flex-direction: column;
  background-color: var(--light-bg-color);
  position: fixed;
  width: 250px;
  height: 100vh;
  z-index: 0;
  padding-top: 55px;
  overflow: auto;
  box-shadow: 1px 0 5px #000;
}

.side-items {
  width: 100%;
  text-transform: capitalize;
}

.side-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.side-item:last-child {
  margin-bottom: 100px;
}

.side-item:hover {
  background: var(--dark-bg-color);
  cursor: pointer;
}

.item-name {
  display: flex;
  align-items: center;
  width: 70%;
}

.side-logo {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.item-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

.circle {
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--red-color);
  margin-right: 5px;
}

.side-item:nth-child(3n + 4) .circle {
  opacity: 0;
}

.side-item:hover .circle {
  transition: all 0.5s ease-out;
  transform: scale(1.5);
}

.side-footer .divider {
  border: 1px solid #ffff;
  margin-bottom: 10px;
}

.side-footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 250px;
  height: 100px;
  background: var(--light-bg-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background: var(--dark-bg-color);
  margin: 10px;
}

.footer-content h3 {
  text-align: center;
}

.side-links span {
  padding: 10px;
  cursor: pointer;
}

/* Main */
.main {
  grid-area: main;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.category {
  padding: 5px;
  margin: 5px;
  background: #cecece;
  border-radius: 20px;
  border: 2px solid #c0c0c0;
  cursor: pointer;
}

.category:first-child {
  background: var(--gold-color);
}

.category:hover {
  opacity: 0.8;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 10px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px #000;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image:hover {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.card .img-body {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-head {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background: var(--red-color);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}

.img-foot {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  background: var(--light-bg-color);
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: default;
}

.logo > .side-logo {
  width: 25px;
  height: 25px;
  cursor: default;
}

.action {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.action .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  margin: 1px;
}

.card-content .title h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.card-content .title p {
  font-size: 0.8rem;
}

.title {
  width: 80%;
}
/* Footer */
body > .footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-bg-color);
  font-size: 1.4rem;
}

.footer .footer-content {
    padding: var(--main-padding);
}
